p{
  font-family: 'Open Sans',sans-serif;
}
hr{
  border: 1px solid #dcdcdc;
}

.navbar-default{
  background-color: #474747;
  margin-bottom: 0;
  border: none;
}
.logo{
  height: 80px;
  width: 80px;
  padding: 10px 15px;
  background-color:  #ffcc00;
}
.navbar-brand,
.navbar-nav li a{
  height: 80px;
  line-height: 80px;
  padding: 0 25px;
  margin-left: 1px;
  background-color: #474747;
  font-family: 'Oswald',sans-serif;
  font-size: 1.3em;
  color: #fff;
  border-right: 1px solid #393939;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.1);
}
.navbar-brand{ padding-right: 0;}
.navbar-default .navbar-nav >li> a{ color:#fff;}
.navbar-default .navbar-nav >li> a:hover{ color:#fff; background-color: #535252;}
.navbar-default .navbar-toggle { margin-top: 25px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover{
  color: #fff;
  background-color: #535252;
  border-color: #646464;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: #3d3d3d;
}

/* social icons */
li.twitter a{
  width: 80px ;
  background-color: #5ea9dd !important ;
  color: #fff !important;
  font-size: 1.8em;
  text-align: center;
  box-shadow: none;
  border-right: none;
}
li.facebook a{
  width: 80px ;
  background-color: #3b5988 !important ;
  color: #fff !important;
  font-size: 1.8em;
  text-align: center;
  box-shadow: none;
  border-right: none;
}
li.twitter a:hover,
li.facebook a:hover{
  opacity: 0.8;
}
/* header */
header{
  height: auto;
  text-align: center;
  background-color: #6d6d6d;
  padding-top: 120px;
}
header h2{
  margin-top: 50px;
  font-size: 3.5em;
  color: #fff;
  font-family: 'Oswald',sans-serif;
}
header p{
  padding: 0 20px;
  font-size: 1.5em;
  color: #fff;
  font-family: 'Open Sans',sans-serif;
}

.profile_picture{
  -webkit-box-shadow: 0px 14px 37px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 37px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 14px 37px -6px rgba(0,0,0,0.75);
  width: 200px;
  height: 250px;
  border: 10px solid #fff;

}
.main-content{
  padding: 60px 100px;
}
.main-content h3{
  padding: 10px  30px;
  margin-bottom: 40px;
  display: inline-block;
  font-family: 'Oswald',sans-serif;
  font-size: 1.5em;
  color: #ff9900;
  border: 3px solid #ff9900;
}
.main-content h4{
  margin-top: 0;
  color: #3f3f3f;
  font-size: 1.7em;
  font-family: 'Oswald',sans-serif;
}
.main-content h4 small{
  color: #a0a0a0;
  font-size: .7em;
  border-left: 1px solid #a0a0a0;
  border-color: #a0a0a0;
  padding-left: 5px;
  margin-left: 5px;
}
.main-content .about-me p{
  color: #a0a0a0;
  font-size: 1.2em;
}
/* Projects*/
.main-content .post{
  text-align: center;
}
.main-content .post h4{
  margin-top: 20px;
  font-size: 1.3em;
  color: #6a6a6a;
  text-transform: uppercase;
}
.main-content .post p{
  color: #a5a5a5;
  line-height: 2em;
}
.img-responsive:hover{
  opacity: 0.8;
}
.main-content .contact p{
  color: #a0a0a0;
  font-size: 1.2em;
}
/* CONTACT INFO */
.contact.row{
  padding-top: 20px;
}
input{
  width: 100%;
  padding: 10px 3%;
  border: 3px solid #b9b9b9;
  margin-bottom: 20px;
  font-family: 'Oswald',sans-serif;
  font-size: 1.3em;
  color: #b9b9b9;
}
input:focus{
  border: 3px  solid #ff9900;
  box-shadow: 0 0 5px 1px #ff9900;
}
.message{
  height: 220px;
}
.send{
  width: auto;
  background-color: #fff;
}


@media (max-width : 768px) {
  .navbar-default .navbar-nav>li>a {
    width: 100%;
    border-bottom: 1px solid #3d3d3d;
    text-align: center;
  }
}
